node_modules
npm-debug.log*
build
coverage
test/coverage
npm-debug.log

# Exclude compiled files
# lib

# Exclude IDE project folders
.idea
*.sublime-project
*.sublime-workspace

# OS files
.DS_STORE
package-lock.json
